/* fonts */
body {
    font-size: 18px;
}

.title * {
    font-size: 45px;
    color: #FFFFFF;
}
h1, h2, h3, h4, h5, .title, .navbar-brand {
    font-family: "Crete Round", "Georgia", serif;
}

/* fix top bar */
.jumbotron {
    margin-top: 80px;
}

/* for the icons */
.large {
    font-size: 50px;
    line-height: 50px;
    padding: 0 10px;
}
.medium {
    font-size: 30px;
    padding: 0 5px;
}
.small {
    font-size: 15px;
    padding: 0 5px;
}

/* article */

#content h1 {
    margin-top: 35px;
}

address {
    display: inline;
}

.info-margin {
    margin-left: 10px;
}
.info-tag {
    margin-left: 5px;
    display: inline-block;
}
.center {
    text-align: center;
}

div.highlight {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* social */
.socialbar {
    margin-left: 20px;
}

.none {
    display: none;
}

.vcard * {
    display: none;
}
.vcard .name {
    display: inline;
}
