
{% if article.author %}
By <span>
    <!-- SEO: vcard -->
    <address id="hcard-Jordi-Burgos" class="vcard author">
        <a class="name" href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a>
        <a class="fn" href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a>
        <img src="{{ SITEURL }}/images/gravatar300.jpeg" alt="photo of " class="photo"/>
        <span class="title">Software Engineer</span>
        <span class="org">jordiburgos.com</span>
        <a class="url" href="http://jordiburgos.com">jordiburgos.com</a>
        <a class="email" href="mailto:jordiburgos@gmail.com">jordiburgos@gmail.com</a>
        <span class="address">
            <span class="region">Valencia</span>
            <span class="country-name">Spain</span>
        </span>
    </address>
</span>
{% endif %}
<span>
 on <abbr class="published" title="{{ article.date.isoformat() }}"> {{ article.locale_date }} </abbr>
</span>

{% if article.category %}
<span class="info-margin">
    <a class="url" href="{{ SITEURL }}/{{ article.category.url }}"><i class="fi-folder small"></i> {{ article.category }}</a>
</span>
{% endif %}

<span class="info-margin">
{% for tag in article.tags|sort %}
    <span class="info-tag"><a href="{{ SITEURL }}/{{tag.url}}"><i class="fi-flag small"></i> {{tag}}</a></span>
{% endfor %}
</span>

<span class="info-margin">
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(article) }}
</span>
