{% extends "base.html" %}

{% block content %}
<section id="content">

{% for article in articles_page.object_list|sort %}
    <div class="panel panel-primary">
        <div class="panel-heading title">
            <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
        </div>
        <div class="panel-body">
                {% include 'article_info.html' %}
        </div>
        <div class="panel-body">
        
            {{ article.summary }}
        
            <a class="btn btn-success" href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">Continue reading &rarr;</a>
        </div>
    </div>
{% endfor %}
{% include 'pagination.html' %}
</section><!-- /#content -->
{% endblock content %}
