{% if TWITTER_USERNAME %}
<a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ SITEURL }}/{{ article.url }}" data-text="{{SITENAME}}: '{{ article.title|striptags }}. {{ SITEURL }}/{{ article.url }}" data-via="{{TWITTER_USERNAME}}" data-size="large">Tweet</a>

<a href="https://twitter.com/{{TWITTER_USERNAME}}" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @{{TWITTER_USERNAME}}</a>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
{% endif %}

